.box {
  margin-top: 5em;
 width: 380px;
 height: 90px;
 border: 1px solid #999;
 font-size: 30px;
 color: #1c87c9;
 background-color: #eee;
 border-radius: 5px;
 box-shadow: 4px 4px #ccc;
}



button {
  padding: 10px 40px;
  border-radius: 10px;
  font-family: 'Pacifico', cursive;
  text-decoration: none;
  font-size: 2em;
  background-color: #3498DB;
  border-bottom: 5px solid #2980B9;
  text-shadow: 0px -2px #2980B9;
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
  margin-top: 40px;
}

