body {
	background-color: #D6E1CE;
}
header {

}
img {
	border-radius: 20%;
	width: 10em;
}
h1 {
	font-size: 4em;
	font-family: fantasy;

}

nav {
	text-align: left;
	font-family: fantasy;
	font-size: 3em;
	margin-left: 7px;
}
section {
	text-align:center ;
}
button {
	font-size:  40px;
	border-radius:20px;
	padding: 20px;
	margin: 10px;
	letter-spacing: 3px;
}